:root {
    --height-header: 60px;
    --height-todolist: 300px;
    --height-todolist-header: 30px;
  
    --width-todolist: 400px;
  
    --color-green: rgb(30, 255, 0);
    --color-red-button: rgb(187, 9, 9);
    --color-red-li-hover: rgb(27, 172, 8);
  }
  
  html,
  body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Matemasie", sans-serif;
  }
  
  .header {
    height: var(--height-header);
    line-height: var(--height-header);
    background: linear-gradient(to right, black, var(--color-green));
    color: white;
  
    padding-left: 10px;
    font-size: 2.3rem;
  
    letter-spacing: 1px;
    text-transform: capitalize;
  }
  
  .container {
    background-color: beige;
    height: calc(100% - var(--height-header));
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .todolist {
    height: var(--height-todolist);
    width: var(--width-todolist);
    background-color: var(--color-green);
    box-shadow: 5px 5px 2px black;
    border-radius: 5px;
  }
  
  .todolist-header,
  .todolist-input,
  ul li {
    height: var(--height-todolist-header);
    line-height: var(--height-todolist-header);
    width: 100%;
    padding-left: 10px;
    letter-spacing: 1px;
    text-transform: capitalize;
  
    list-style: none;
    border: none;
    outline: none;
  }
  .todolist-header {
    text-align: center;
    font-size: 1.7rem;
  }
  
  ul li:hover {
    background-color: var(--color-red-li-hover);
  }
  
  ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul li span {
    height: 100%;
    line-height: var(--height-todolist-header);
    overflow: hidden;
  }
  
  ul li button {
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 1.5rem;
    color: var(--color-red-button);
  }
  ul li button:hover {
    font-size: 1.7rem;
  }
  ul li button:active {
    font-size: 1.3rem;
  }
  
  ul {
    height: calc(var(--height-todolist) - var(--height-todolist-header) * 2);
    overflow: auto;
  }
  
  /* ul li:nth-child(2n) {
    background-color: var(--color-red-li-hover);
  } */
  
  .completed {
    text-decoration: line-through;
    color: gray;
  }